.styles {
   color: rgb(41, 239, 236); 
}


.composants {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2px 0;
   margin-bottom: 1px;
}
.titleComposants {
   display: flex;
   align-items: center;
   gap: 1px;
}


/* .logo {
   height: 6em;
   padding: 1.5em;
   will-change: filter;
   transition: filter 300ms;
 }
 .logo:hover {
   filter: drop-shadow(0 0 2em #646cffaa);
 }
 .logo.react:hover {
   filter: drop-shadow(0 0 2em #61dafbaa);
 } */